html
  include ./includes/head.jade

  body
    div.container
      div.jumbotron
        include ./includes/top.jade

        if links.length == 0
          | There is not link yet
        else
          - each link in links
            button.btn.btn-default.link(href=link.url, target="_blank")
              i.fa(class=link.logo)
              = link.name

    script(src="/scripts/script.js")