html
  include ./includes/head.jade

  body
    div.container
      div.jumbotron
        include ./includes/top.jade

        if err
          | Error while trying to read links.json file
        else
          - each link in links
            button.btn.btn-default.link(href=link.url, target="_blank")
              i.fa(class=link.logo)
              = link.name

    script(src="/scripts/script.js")