html
  include ./includes/head.jade

  body
    div.container
      div.jumbotron
        include ./includes/top.jade

        if message
          = message

        div.table-responsive
          table.table.table-striped
            thead
              tr 
                th email
                th actions
            tbody
            - each guest in guests
              tr
                td
                  = guest.email
                td
                  a.btn.btn-danger.btn-sm.table-action(href='/remove-guest?email=#{encodeURIComponent(guest.email)}')
                    i.fa.fa-user-times
                    | Remove user

        h3 Add a guest

        form(name="add-guest" action="/add-guest", method="post")
          div.form-group
            label(for="email") Email
            input.form-control(type="email", name="email", id="email" required)
          div.form-group
            label(for="password") Password
            input.form-control(type="password", name="password", id="password" required)
          input.btn.btn-default(type="submit" value="Submit")

    script(src="/scripts/script.js")